body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

button {
    padding: 10px 15px;
    background: #2c7be5;
    color: white;
    border: none;
    border-radius: 5px;
}
